https://www.mindfulltechnologies.com {
	redir https://mindfulltechnologies.com{uri} permanent
}

https://mindfulltechnologies.com {
	reverse_proxy mindfull-home:3000
}

https://www.kakapo.bot {
	redir https://kakapo.bot{uri} permanent
}

https://kakapo.bot {
	reverse_proxy kakapo-landing-page:3000
}

https://www.chat.kakapo.bot {
	redir https://chat.kakapo.bot{uri} permanent
}

https://chat.kakapo.bot {
	reverse_proxy kakapo-prod:3000
}

https://www.biobaumbauer.de {
	redir https://biobaumbauer.de{uri} permanent
}

https://biobaumbauer.de {
	@api path /api/* /admin /admin/*
	handle @api {
		reverse_proxy backend-prod:4000
	}

	handle {
		reverse_proxy frontend-prod:3000
	}
}

https://staging.biobaumbauer.de {
	@api path /api/* /admin /admin/*
	handle @api {
		reverse_proxy backend-staging:4000
	}

	handle {
		reverse_proxy frontend-staging:3000
	}
}
