https://www.biobaumbauer.de {
	redir https://biobaumbauer.de{uri} permanent
}

https://biobaumbauer.de {
	@api path /api/* /admin /admin/*
	handle @api {
		reverse_proxy backend-prod:4000
	}

	handle {
		reverse_proxy frontend-prod:80
	}
}

https://staging.biobaumbauer.de {
	@api path /api/* /admin /admin/*
	handle @api {
		reverse_proxy backend-staging:4000
	}

	handle {
		reverse_proxy frontend-staging:80
	}
}

https://www.kakapo.bot {
	redir https://kakapo.bot{uri} permanent
}

https://kakapo.bot {
	reverse_proxy kakapo-prod:3000
}
