services:
    caddy-edge:
        image: caddy:2.10.2-alpine
        ports:
            - '80:80'
            - '443:443'
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile:ro
            - caddy_data:/data
            - caddy_config:/config
        networks:
            - edge_net
        restart: unless-stopped

volumes:
    caddy_data:
    caddy_config:

networks:
    edge_net:
        external: true
